# ID da planilha do Google Sheets que alimenta a apresentação (veja PLANILHA.md).
# Copie o trecho entre /d/ e /edit na URL da planilha:
# https://docs.google.com/spreadsheets/d/ESTE_TRECHO_AQUI/edit
VITE_GOOGLE_SHEET_ID=
